#welcome {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(202, 194, 194);
    background-color: rgb(0, 0, 0);
}

#welcome h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#welcome a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: flex-end;

}

#body {
    background-color: rgb(255, 251, 0);
}

#searchDiv {
    margin-left: 500px;
    margin-top: 10px;
    margin-bottom: 50px;
}

input[name=bsearch] {
    width: 50%;
    font-size: 20px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
}

input[name=sbutton] {

    width: 80px;
    height: 30px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#inputsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#inputsDiv input {
    width: 300px;
    font-size: 20px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
    display: flex;

}

#inputsDiv label {
    width: 100px;
    font-weight: bold;
    text-align: right;
}

#inputsDiv input[name=submit] {
    width: 150px;
    height: 40px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: blueviolet;
    border-color: black;
    font-weight: bold;
}

.content table {
    background-color: #fff;
}

p[name=reference] {
    font-size: 20px;
    font-family: inherit;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
}