/* 
Ivan Czar
19088501
 */

/* BOOKING css */
@font-face {
    font-family: bryant;
    src: url(./bryant-bold-webfont.ttf);
}


.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff100;
    padding: 10px;
    flex-wrap: wrap;
    box-shadow: (0, 0, 0, 0.25) 0px 1px 5px 0px
}

.site-header__wrapper img {
    width: 150px;
    height: 75px;
    border-radius: 50%;
    margin-left: 40px;
}

.nav a {
    margin: 20px;
}

.navbutton {
    background-color: black;
    color: #fff;
    border-radius: 28px;
    width: 197px;
    height: 33px;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-family: bryant;
    margin-right: 30px;


}

#bookingCont {
    display: flex;
    margin-top: 15px;
    margin-right: 400px;
}

#bookingCont h1 {

    margin-top: 80px;
    font-family: bryant;
    font-size: 36px;
    margin-left: 20px;
}

#bookingCont label {

    font-family: bryant;
    font-size: 25px;
    margin-left: 20px;

}

#inputsDiv {
    display: flex;
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.bookingTest {
    display: flex;
    flex-direction: row;
}

#inputsDiv label {
    font-weight: bold;

}

#inputsDiv input {
    width: 700px;
    height: 40px;
    font-size: 20px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    margin-bottom: 20px;

}

#inputsDiv input[name=submit] {


    display: flex;
    justify-content: center;
    color: black;
    background-color: #fff100;
    border-color: black;
    font-weight: bold;
    border-radius: 28px;
    padding: 10px;
    box-shadow: (252, 200, 34) 0px 1.5px 0px 0px;
    width: 300px;
    margin-left: 30%;
    font-family: bryant;
}

p[name=reference] {
    font-size: 20px;
    font-family: inherit;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
    flex: 1;
    padding: 50px;
    font-family: bryant;
    margin-left: 30%;
}

#bookingTargetDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width:fit-content;

}

#confirmDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


/* admin css */

#searchDiv {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

#searchDiv img {
    margin-bottom: 50px;
    width: 400px;
    height: 150px;
    margin-right: 50px;

}

#searchDiv input[name=sbutton] {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #fff200;
    border-color: black;
    font-weight: bold;
    border-radius: 28px;
    padding: 10px;
    box-shadow: (252, 200, 34) 0px 1.5px 0px 0px;
    width: 300px;
    margin-left: 30%;
    font-family: bryant;
    margin-top: 20px;
    font-size: 25px;

}



input[name=bsearch] {
    width: 700px;
    height: 40px;
    font-size: 20px;
    font-family: inherit;
    /* padding: 0.25em 0.5em; */
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
}


/* common css */
#body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.content table {
    margin-top: 30px;
    background-color: #fff;
    border-collapse: collapse;

}

tr:hover {
    background-color: #fff200;
}

/* hover: background-color: coral; */