/* 
Ivan Czar
19088501
 */

/* BOOKING css */

#bookingCont {
    display: flex;
}
#inputsDiv {
    display: flex;
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

}

#inputsDiv img {
    margin-bottom: 20px;
    width: 400px;
    height: 180px;

}

#inputsDiv label {
    width: 100px;
    font-weight: bold;
    text-align: right;
}

#inputsDiv input {
    width: 300px;
    font-size: 20px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
    display: flex;

}

#inputsDiv input[name=submit] {
    width: 150px;
    height: 40px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blueviolet;
    border-color: black;
    font-weight: bold;
}

p[name=reference] {
    font-size: 20px;
    font-family: inherit;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
    flex: 1;
    padding: 50px;
}

#bookingTargetDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;

}

/* admin css */

#searchDiv {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

#searchDiv img {
    margin-bottom: 50px;
    width: 400px;
    height: 150px;
    margin-right: 50px;

}

input[name=bsearch] {
    width: 50%;
    font-size: 20px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid;
    border-radius: 4px;
}

input[name=sbutton] {
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

/* common css */
#body {
    background-color: rgb(255, 251, 0);
}
.content table {
    margin-top: 30px;
    background-color: #fff;
}